table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 15px;
}

th{
    text-align: left;
}

.patient {
    margin-top: 2rem;
}

.patient h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.patient-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938;
    border-radius: 5px;
}

.patient-form-container label {
    line-height: 2.7em;
}

.patient-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.patient-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset;
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
}

.submit_button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 1rem;
}

.submit_button:hover {
    background-color: purple;
    border: 2px solid purple;
    cursor: pointer;
}